* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background-color: white;
}

.title {
  margin-top: 20px;
  font-size: 50px;
  text-align: center;
  color: orange;
}

#loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    255,
    255,
    255,
    1
  ); /* Cambia el valor de transparencia (0.8) según tus necesidades */
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

#animationWindow {
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
}

/*navbar*/

.container {
  width: 100%;
  background-color: #3c4652;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container a {
  margin: 10px;
  font-size: 18px;
  text-decoration: none;
  color: white;
  flex-wrap: wrap;
}

.container a:hover {
  border-bottom: 2px solid orange;
}

.logo {
  margin: 5px;
  height: 100px;
  width: 100px;
  border: 2px solid orange;
  border-radius: 50%;
}

/*ABOUT ME*/
#about-me {
  width: 100%;
  margin-top: 100px;
  display: inline-block;
  text-align: center;
}

.inner-logo {
  width: 200px;
  height: 200px;
  border: 2px solid orange;
  border-radius: 50%;
  margin-bottom: 5px;
}

.dev-logo {
  width: 55%;
  height: auto;
}

.info {
  margin-top: 70px;
  text-align: center;
  background-color: #3c4652;
  color: white;
}

.info p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  padding: 50px;
}

/*projecs*/
#projects-container {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

#projects-container div {
  border: 2px solid #3c4652;
  margin: 0 5px 20px;
  text-align: center;
  max-width: 800px;
  border-radius: 14px;
}

#projects-container iframe {
  border-radius: 14px;
}

.project-img {
  width: 350px;
  height: 350px;
  border-radius: 14px;
}

.project-icon {
  width: 55px;
  height: 55px;
  margin-bottom: 5px;
}

.project-icon-large {
  width: 50px;
  height: 60px;
  margin-bottom: 5px;
}

#projects-container div h3 {
  font-size: 20px;
  padding: 10px;
  text-align: center;
  word-wrap: break-word;
}

#projects-container div p {
  font-size: 10px;
  padding: 19px;
  text-align: center;
  word-wrap: break-word;
}

/*Skills*/
#skills {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-container {
  margin: 30px;
  border-radius: 14px;
  box-shadow: 0px 13px 7px 15px rgba(0, 0, 0, 0.1);
  width: 600px;
  word-wrap: break-word;
}

.skills-container .skill {
  padding: 15px;
  margin-left: 100px;
  width: 20%;
}

#skills .skills-title {
  margin-top: 20px;
  font-size: 50px;
  text-align: center;
  color: orange;
}

/*progress bar*/
.progress-bar {
  width: 400px;
  height: 20px;
  background-color: #eaeaea;
  position: relative;
}

.progress-bar-gray {
  border-radius: 14px;
  width: 100%;
  height: 100%;
  background-color: #ccc;
  position: relative;
  z-index: 1;
}

.progress-bar-orange {
  border-radius: 14px;
  height: 100%;
  background-color: orange;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.progress-text {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  line-height: 20px;
  color: #fff;
  font-weight: bold;
  z-index: 3;
}

/*Awards*/
.awards-container div {
  margin: 10px;
  border: 3px solid orange;
  border-radius: 14px;
}

.awards-container {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.awards-container h3 {
  color: #3c4652;
  width: 200px;
  padding: 10px;
  text-align: center;
  word-wrap: break-word;
}

.award-image {
  padding: 1px;
  border-radius: 14px;
  width: 200px;
  height: 300px;
}

/*Footer*/
footer {
  width: 100%;
  background-color: #3c4652;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.footer-logo {
  margin: 20px;
  width: 200px;
  height: 200px;
  border: 5px solid orange;
  border-radius: 100%;
}

.footer-icon {
  width: 50px;
  height: 50px;
  margin: 10px;
}

@media screen and (max-width >=375px){
  .skills-container {
    width: auto;
    height: 100px;
  }
}